:root {
    --light-theme-background: #3d4345;
    --background: rgba(255, 255, 255, 0.25);
}

.theme-color {
    border-color: var(--light-theme-background) !important;
    color: var(--light-theme-background) !important;
}

.avatar {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

body,
html {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200) !important;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    font-size: large !important;
}

canvas {
    position: fixed;
    object-fit: cover;
    width: 100vw !important;
    height: 100vh !important;
    transform: scale(1.05);
    opacity: 0;
    transition: opacity 0.25s linear;
}

li {
    display: inline;
}

.nav-li.uk-active,
.nav-li:hover {
    background-color: var(--background);
}

.indent {
    text-indent: 2em;
}

body {
    position: relative;
}

span {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#tabs {
    border: none !important;
    height: 80%;
}

#main-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.card {
    background-color: var(--background);
    min-width: 340px;
    width: 70%;
}

.project-preview {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.read-more {
    border: 2px solid var(--light-theme-background) !important;
}

.read-more:hover {
    background-color: var(--background) !important;
}

#toggle {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 10px;
    right: 10px;
    background-color: var(--background);
    color: white;
}

.white {
    color: white !important;
}

.nav-button {
    margin-top: 16px !important;
    background-color: transparent !important;
    padding: 0px;
    color: white;
}

#nav-bar {
    position: absolute;
    left: 50%;
    margin-left: -170px;
    width: 340px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

#title-bar {
    display: block;
    height: 110px;
}

::-webkit-scrollbar {
    width: 0px;
}
