:root {
    --light-theme-background: rgb(1, 88, 127);
}

.theme-color {
    border-color: var(--light-theme-background)!important;
    color: var(--light-theme-background)!important;
}

body, html {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

body {
    position: relative;
}

span {
    font-weight: bold;
}

#main-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#toggle {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
}

.white {
    color: white!important;
}

.nav-button {
    margin-top: 16px!important;
    background-color: transparent!important;
    padding: 0px;
    color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

#nav-bar {
    position: absolute;
    left: 50%;
    margin-left: -170px;
    width: 340px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 100;
}

.light-logo {
    background-color: rgba(255,255,255, 0.3);
    border: 5px solid white;
}

.night-logo {
    background-color: rgba(255, 255, 255, 0.1);
    border: 5px solid var(--light-theme-background);
}

#title-bar {
    display: block;
    height: 110px;
}

::-webkit-scrollbar {
    width: 0px;
}